{
  "parser"  : "babel-eslint",
  "extends" : [
    "standard",
    "standard-react",
    "airbnb"
  ],
  "env"     : {
    "browser" : true
  },
  "globals" : {
    "Action"       : false,
    "__DEV__"      : false,
    "__PROD__"     : false,
    "__DEBUG__"    : false,
    "__DEBUG_NEW_WINDOW__" : false,
    "__BASENAME__" : false
  },
  "rules": {
    "semi" : [2, "always"],
    "max-len": [2, 120, 2],
    "object-curly-spacing": 0,
    "arrow-body-style": 0,
    "no-multi-spaces": 0,
    "react/prefer-stateless-function": 0,
  }
}
